.delicate-builds[data-theme="light"] {
  --background-color: #f4f4f9;
  --text-color: #333;
  --button-background: #495057;
  --button-text: #fff;
}

.delicate-builds[data-theme="dark"] {
  --background-color: #343a40;
  --text-color: #fff;
  --button-background: #495057;
  --button-text: #fff;
}

.delicate-builds {
  z-index: 1100;
}

.delicate-toggle-button {
  font-size: 1em;
  border-radius: 0 20px 20px 0;
  position: absolute;
  left: 0;
  top: 10px;
  padding: 2px 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--button-background);
  color: var(--button-text);
}

.delicate-sidebar {
  width: 100vw;
  background-color: var(--background-color);
  height: 100vh;
  max-width: 300px;
  box-shadow: 4px 0px 20px 5px var(--button-background);
  overflow-y: scroll;
  scrollbar-width: none;
  padding: 10px;
  align-items: center;
  justify-content: flex-start;
}

.delicate-theme-button,
.delicate-back-button
 {
  color: var(--button-text);
  background-color: var(--button-background);
  margin: 5px;
  font-size: 1.5em;
}

.delicate-build-section {
  margin-top: 20px;
}

.delicate-input-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.delicate-build-title,
.delicate-save-title {
  text-align: left;
  margin-top: 20px;
  color: var(--text-color);
}

.delicate-build-input {
  max-width: 250px;
  min-width: fit-content;
  margin: 0 10px 0 0;
  font-size: 0.75em;
}

.delicate-save-list > li > p {
  width: 225px;
  border: none;
  color: var(--text-color);
  font-size: 1em;
  vertical-align: center;
}

.delicate-save-button,
.delicate-load-button,
.delicate-delete-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  margin-right: 5px;
  padding: 7.5px 15px;
  color: var(--text-color);
  font-size: 1em;
}

.delicate-toast {
  background-color: var(--button-background);
  color: var(--button-text);
  text-align: center;
  border-radius: 5px;
  padding: 10px;
  z-index: 1102;
  bottom: 10px;
  position: absolute;
  left: 0px;
  right: 0px;
  margin: auto;
  width: fit-content;
  max-width: 280px;
}
